<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :table_id, "Select Table" %>
    <%= form.collection_select :table_id, Table.all, :id, :number %>
  </div>

  <div>
    <%= form.label :dish_ids, "Select Dishes" %>
    <%= form.collection_check_boxes :dish_ids, Dish.all, :id, :name %>
  </div>

  <div>
    <%= form.label :note, "Note" %>
    <%= form.text_area :note %>
  </div>

  <%= form.submit "Create Order" %>
<% end %>





