<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :table_id, "Seleziona tavolo", class: "form-label" %>
    <%= form.collection_select :table_id, Table.all, :id, :number %>
  </div>

  <div class="mb-3">
    <%= form.label :dish_ids, "Seleziona una o più portate", class: "form-label" %>
    <%= form.collection_select :dish_ids, Dish.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="mb-3">
    <%= form.label :note, "Note" %>
    <%= form.text_area :note %>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-success d-flex align-items-center">
      <i class="fas fa-check-circle me-2"></i> Salva
    </button>
  </div>
<% end %>





